#name: Deploy to AWS
#
#on:
#  push:
#    branches:
#      - main
#  release:
#    types:
#      - published
#
#jobs:
#  deploy:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v2
#
#      - name: Set up JDK 21
#        uses: actions/setup-java@v3
#        with:
#          java-version: '21'
#          distribution: 'temurin'
#
#      - name: Configure AWS Credentials (Dev)
#        if: github.event_name == 'push'
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: us-east-1
#
#
#      - name: Build with Maven
#        run: mvn clean package
#
#      - name: Install SAM CLI
#        run: pip install aws-sam-cli
#
#
#
#      # - name: Configure AWS Credentials (Prod)
#      #   if: github.event_name == 'release'
#      #   uses: aws-actions/configure-aws-credentials@v1
#      #   with:
#      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_PROD }}
#      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_PROD }}
#      #     aws-region: us-east-1
#
#      - name: SAM Build
#        run: sam build
#
#      - name: SAM Deploy to Development
#        if: github.event_name == 'push'
#        run: |
#          sam deploy --config-env dev --parameter-overrides Environment=dev EmailAddress=${{ secrets.EMAIL_ADDRESS_DEV }} --no-confirm-changeset --capabilities CAPABILITY_IAM
#
#      # - name: SAM Deploy to Production
#      #   if: github.event_name == 'release'
#      #   run: |
#      #     sam deploy --config-env prod --parameter-overrides Environment=prod EmailAddress=${{ secrets.EMAIL_ADDRESS_PROD }} --no-confirm-changeset --capabilities CAPABILITY_IAM


name: SAM Deploy Pipeline

on:
  push:
    branches: [ main, develop ]


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      - name: Set environment based on branch
        id: set-env
        run: |
          if [[ $GITHUB_REF == 'refs/heads/main' ]]; then
            echo "ENV=prod" >> $GITHUB_OUTPUT
          else
            echo "ENV=dev" >> $GITHUB_OUTPUT
          fi

      - name: Set up AWS SAM CLI
        uses: aws-actions/setup-sam@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: SAM Build
        run: sam build

      - name: SAM Deploy
        run: |
          sam deploy \
            --config-env ${{ steps.set-env.outputs.ENV}} \  
            --no-fail-on-empty-changeset \
            --no-confirm-changeset \
            --s3-bucket wekk8-bucket \
